@media screen and (max-width: 640px) and (min-width: 340px) {
    /* samsung s3 */
    .button{
        width:100%;
        height:30px;
        margin-bottom:20px;
    }

    .navigation{
        background-color:black;
    }
    .navigation ul li{
        display:block;
        color:white;
    }
    .banner{
        max-width: 100%;
        height: auto;
    }
    .content{
        width:100%;
        height:100%;
        margin-bottom:5%;
        margin-top:3%;
    }
    .content-banner{
        width:100%;
        height:100%;
        margin-bottom:20px;
    }
    .content-left{
        width:100%;
    }
    .content-right{
        width:100%;
    }
    #about{
        width:100%;
        margin: 0 auto;
    }
    .list-item{
        padding:0 35px;
        display:inline-block;
    }
    .list-item-portfolio{
        display:inline-block;
        width: 28%;
        padding: 0px 8px;
    }
    .textarea{
        width:98%;
    }
    .down{
        margin-top:5%;
    }
    .down2{
        margin-top:12%;
    }
    .form{
        padding-left:0;
    }
    .input-text{
        width: 99%;
        height: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
    }

    /* footer element */
    .footer{
        margin-top: 171px;
        background-color: black;
        display: inline-block;
        width: 100%;
        color: white;
    }
    .footer-image{
        margin:0 auto;
        text-align:center;
    }

}